/* Theme: https://lospec.com/palette-list/funkyfuture-8 */
:root {
  --purple: #2b0f54;
  --magenta: #ab1f65;
  --red: #ff4f69;
  --white: rgb(255, 247, 248);
  --grey: rgb(224, 216, 216);
  --orange: #ff8142;
  --yellow: #ffda45;
  --blue: rgb(51, 104, 220);
  --cyan: rgb(73, 231, 236);

  --white-translucent: rgba(255, 247, 248, 0.9);
  --cyan-dark: rgb(73, 231, 236, 0.3);
  --blue-translucent: rgba(51, 104, 220, 0.7);
}

/* Font: https://www.behance.net/gallery/6636573/VGER-Grotesque */
@font-face {
  font-family: 'VGER';
  src: url('assets/fonts/Veger\(light\).ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'VGER';
  src: url('assets/fonts/Voyager\ Grotesque\(regular\).ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'VGER';
  src: url('assets/fonts/V-GERB\(bold\).ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 20px;
}

form input,
form textarea,
form select {
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  background: none;
}

input::placeholder {
  color: inherit;
  opacity: 0.5;
}

button {
  border: none;
}

table {
  border-collapse: collapse;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Global */

#app {
  height: 100vh;
  width: 100vw;
}

body {
  background: var(--purple);
  color: var(--white);
  font-family: 'Orbitron';
}

h1.logo {
  font-family: 'VGER';
  text-transform: uppercase;
  font-size: 64px;
  letter-spacing: 10px;
  color: var(--yellow);
}

input {
  padding: 16px;
  font-size: 20px;
  background: var(--magenta) !important;
  border-radius: 2px;
  color: var(--white);
  border-top: 4px solid var(--red);
  border-left: 4px solid var(--magenta);
  border-right: 4px solid var(--magenta);
  border-bottom: 4px solid var(--magenta);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, background 0.1s ease-in-out;
  letter-spacing: 1px;
  box-shadow: 0 0 10px 0 var(--magenta);
}

input:hover,
input:active {
  transform: scale(1.05);
  box-shadow: 0 5px 20px 0 var(--purple);
}

button {
  padding: 16px;
  font-size: 20px;
  background: var(--purple);
  border-radius: 2px;
  color: var(--white);
  border-top: 4px solid var(--red);
  border-left: 4px solid var(--magenta);
  border-right: 4px solid var(--magenta);
  border-bottom: 4px solid var(--magenta);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, background 0.1s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 10px 0 var(--magenta);

  font-family: 'VGER';
  font-style: normal;
  font-weight: 400;
}

button:disabled {
  border: 4px solid transparent;
  background: none;
  box-shadow: none;
}

button:hover:not(:disabled) span:first-child {
  font-weight: 700;
}

button span:nth-child(2) {
  color: var(--orange);
  font-weight: 700;
}

button span:last-child {
  color: var(--blue);
  font-weight: 700;
}

button:hover:not(:disabled) {
  background: var(--magenta);
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 5px 20px 0 var(--purple);
}

button:hover:not(:disabled) span:nth-child(2) {
  color: var(--yellow);
}

button:hover:not(:disabled) span:last-child {
  color: var(--cyan);
}

svg {
  image-rendering: pixelated;
}

svg .rotatable {
  transform-origin: center;
  transform-box: fill-box;
}

svg g.sunk image {
  filter: brightness(0.5);
}

/* Animations */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}